body {
  background: #f1e8d8;
}

.App-header {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 40px 0;
}
